/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: rgb(169, 163, 163);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #808080;
}

::-webkit-scrollbar-thumb:hover {
    background: #605f5f;
}

::-webkit-scrollbar-button {
    display: none;
}

body {
    background-color: black;
}